body {
  background-color: #f9f9f9;
  color: #000;
  font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.77;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Gothic A1', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.44;
  text-transform: capitalize;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px
}

img {
  max-width: 100%;
  max-height: auto;
}

.title {
  text-transform: capitalize;
}

.spacer {
  margin: 0 0 10px;
}

main {
  min-height: 100vh;
}

main::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  background-color: #fff;
  border: 1px solid #286efa;
  border-radius: 4px;
  color: #286efa;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gothic A1', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 42px;
  letter-spacing: .04em;
  line-height: 1.5;
  margin: 20px 0;
  outline: none;
  overflow: visible;
  padding: .4em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color,background .2s;
  transition: color,background .2s;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.btn.tabs {
  float: left;
}

.btn__primary,
.btn__active {
  border-color: #286efa;
  background: #286efa;
  color: #fff;
}

.btn:hover {
  background: #0F5DF9;
  color: #fff;
}

.btn.tab__00 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.tab__01 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.blu__link:hover,
.blu_link:active,
.blu_link:focus {
  outline: none;
  text-decoration: underline;
}

/* header*/
section.skew__00 {
  background-color: #fff;
  -ms-transform: rotate(-10deg) skew(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg) skew(-10deg); /* Safari */
  transform: rotate(-10deg) skew(-10deg); /* Standard syntax */
}

#plan__description,
#plan__details {
  text-align: center;
}

/* image overlay for header */
figure.plan__icon__wrap {
  display: inline-block;
}

.plan__card__wrap article.plan__card h4:first-of-type {
  font-weight: 400;
}

.plan__card__wrap article.plan__card:hover,
.plan__card__wrap article.plan__card.active__plan {
  border-color: #286efa;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(40,110,250,.6);
  outline: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}

.together {
  display: inline-block;
}

.hide {
  display: none;
}

#plan__agreement {
  width: 65%;
  margin: 0 auto;
  border: 1px solid #286efa;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
}

#ask__us label {
  font-weight: 400;
}

#ask__us input {
  border: 1px solid #979797;
  border-radius: 6px;
  padding: 0 15px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
}

#ask__us input:focus,
#ask__us input:active
 {
  border-color: #286EFA;
  outline: 0;
}

.agreement .form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #fff;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.agreement .form-checkbox:checked::before {
  position: absolute;
  font: 13px/1 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.agreement .form-checkbox:hover {
  background-color: #f1f1f1;
}

.agreement .form-checkbox:checked {
  background-color: #286efa;
}

.agreement label {
  font: 300 16px/1.7 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  cursor: pointer;
}

.agreement .btn {
  display: block;
  margin: 0 auto;
  background-color: #286efa;
  border-color: #286efa;
  color: #fff;
}

.agreement .btn:hover {
  background: #0F5DF9;
}

.btn.disabled {
  border-color: #7DA8FC;
  background-color: #fff;
  color: #7DA8FC;
  cursor: default;
}

.btn.disabled:hover {
  background-color: #fff;
  border-color: #7DA8FC ;
  color: #7DA8FC;
  cursor: default;
}

#modal__overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal__content {
  padding: 10% 0;
  text-align: center;
}
.modal__content h2 {
  color: #286efa;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 34em) {
  section.skew__00 {
    height: 500px;
    width: 600px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -120px;
  }

  section.skew__00 .skew__content {
    padding-top: 150px;
    padding-left: 60px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -50px;
    top:  320px;
    z-index: 99;
  }

  aside.layered__img__00 img {
    height: 200px;
  }

  #plan__description {
    min-height: 220px;
    margin-top: 0px;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 30px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 650px;
    min-height: 20vh;
    min-width: 100%;
    position: relative;
    width: 100vw;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 10% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
    max-width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex;  /*Safari */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 0 15%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 8% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 75px;
    margin-top: -30px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -12px;
    width: 350px;
  }
} /* Define mobile styles */

@media only screen and (min-width: 34.063em) and (max-width: 45em){
  section.skew__00 {
    height: 570px;
    width: 900px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -175px;
  }

  section.skew__00 .skew__content {
    max-width: 100vw;
    padding-top: 200px;
    padding-left: 55px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -200px;
    top: 275px;
    z-index: 99;
  }

  aside.layered__img__00 img {
    height: 400px;
  }

  #plan__description {
    min-height: 275px;
    margin-bottom: 5%;
    margin-top: 50px;
    z-index: 99;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 40px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 450px;
    min-height: 10vh;
    min-width: 100%;
    position: relative;
    width: 1000px;
    left: -5px;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 4% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    -webkit-flex: 0 43.3%;  /* Safari 6.1+ */
    -ms-flex: 0 43.3%;  /* IE 10 */
    flex: 0 43.3%;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 8% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 80px;
    margin-top: -100px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -10px;
    width: 500px;
  }
}

@media only screen and (min-width: 45.063em) and (max-width: 50em){
  section.skew__00 {
    height: 500px;
    width: 900px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -175px;
  }

  section.skew__00 .skew__content {
    max-width: 100vw;
    padding-top: 220px;
    padding-left: 100px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -200px;
    top: 150px;
    z-index: 99;
  }

  aside.layered__img__00 img {
    height: 400px;
  }

  #plan__description {
    min-height: 275px;
    margin-bottom: 5%;
    margin-top: 0px;
    z-index: 99;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 40px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 460px;
    min-height: 10vh;
    min-width: 100%;
    position: relative;
    width: 2000px;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 4% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 5%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    width: 50%;
    -webkit-flex: 0 45%;  /* Safari 6.1+ */
    -ms-flex: 0 45%;  /* IE 10 */
    flex: 0 45%;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 8% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 80px;
    margin-top: -105px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -12px;
    width: 650px;
  }
}

@media only screen and (min-width: 50.063em) and (max-width: 62em){
  section.skew__00 {
    height: 450px;
    width: 2000px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -175px;
  }

  section.skew__00 .skew__content {
    padding-top: 150px;
    padding-left: 100px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -200px;
    top: 100px;
    z-index: 99;
  }

  aside.layered__img__00 img {
    height: 450px;
  }

  #plan__description {
    min-height: 275px;
    margin-bottom: 5%;
    margin-top: 40px;
    z-index: 99;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 40px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 400px;
    min-height: 10vh;
    min-width: 100%;
    position: relative;
    width: 2000px;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 4% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    width: 24%;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 8% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 80px;
    margin-top: -105px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -12px;
    width: 750px;
  }
}

@media only screen and (min-width: 62.063em) and (max-width:  76em) {
  section.skew__00 {
    height: 500px;
    width: 2000px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -175px;
  }

  section.skew__00 .skew__content {
    padding-top: 200px;
    padding-left: 100px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -150px;
    top: 100px;
    z-index: 99;
  }

  aside.layered__img__00 img {
    height: 550px;
  }

  #plan__description {
    min-height: 200px;
    margin-bottom: 5%;
    margin-top: 60px;
    z-index: 99;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 40px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 400px;
    min-height: 10vh;
    min-width: 100%;
    position: relative;
    width: 2000px;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 4% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    width: 24%;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 8% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 80px;
    margin-top: -105px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -12px;
    width: 800px;
  }
}

@media only screen and (min-width: 76.063em) {
  section.skew__00 {
    height: 500px;
    width: 2000px;
    left: -50px;
    min-height: 30vh;
    min-width: 100%;
    position: relative;
    top: -175px;
  }

  section.skew__00 .skew__content {
    padding-top: 220px;
    padding-left: 100px;
    transform: rotate(10deg) skew(10deg);
    width: 100vw;
  }

  aside.layered__img__00 {
    position: absolute;
    right: -150px;
    top: 32px;
    z-index: 99;
  }

  #plan__description {
    min-height: 200px;
    margin-bottom: 5%;
    margin-top: 60px;
    z-index: 99;
  }

  figure.plan__icon__wrap .plan__icon {
    height: 40px;
    margin: 20px 10px;
  }

  section.skew__01 {
    z-index: 10;
    background-color: #fff;
    height: 400px;
    min-height: 10vh;
    min-width: 100%;
    position: relative;
    width: 2000px;
    -ms-transform: rotate(6deg) skew(6deg); /* IE 9 */
    -webkit-transform: rotate(6deg) skew(6deg); /* Safari */
    transform: rotate(6deg) skew(6deg); /* Standard syntax */
  }

  section.skew__01 .skew__content {
    padding: 4% 0 0;
    transform: rotate(-6deg) skew(-6deg);
    width: 100vw;
  }

  .plan__card__wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 15%;
  }

  .plan__card__wrap article.plan__card {
    border-radius: 4px;
    text-align: center;
    border: 1px solid #333;
    margin: 5px;
    padding: 20px 10px;
    width: 24%;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
  }

  .blu__link {
    margin: 4% 0 0;
    text-decoration: none;
    color: #286efa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nanum Gothic', Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  aside.layered__img__01 {
    bottom: 0;
    position: relative;
    text-align: center;
    width: 100vw;
    background-color: #fff;
    padding-top: 80px;
    margin-top: -105px;
    z-index: 0;
  }

  aside.layered__img__01 img{
    margin-bottom: -14px;
  }
} /* min-width 1025px, large screens */


